
<div class="container">
  
  <div class="row">
          <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mybookmodal">
          New Book
        </button>
  </div>

  <div class="row" id="container_books">
    <%= render @books %>
  </div>



<!-- MODAL START -->
<%= form_for(@book, remote: true) do |f| %>

<div class="modal fade" id="mybookmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Book</h4>
      </div>

      <div class="modal-body">

        <div class="field">
          <%= f.label :author %>
          <%= f.text_area :author, class: "form-control book_author" %>
        </div>

        <div class="field">
          <%= f.label :title %>
          <%= f.text_area :title, class: "form-control book_title" %>
        </div>

        <div class="field">
          <%= f.label :pages %>
          <%= f.number_field :pages, class: "form-control book_pages" %>
        </div>

        <div class="field">
          <%= f.label :publisher %>
          <%= f.text_area :publisher, class: "form-control book_publisher" %>
        </div>

        <div class="field">
          <%= f.label :pub_date %>
          <%= f.date_field :pub_date, class: "form-control book_pub_date" %>
        </div>

        <div class="field">
          <%= f.label :isbn %>
          <%= f.text_area :isbn, class: "form-control book_isbn" %>
        </div>

        <div class="field">
          <%= f.label :genre %>
          <%= f.text_area :genre, class: "form-control book_genre" %>
        </div>

        <div class="field">
          <%= f.label :category %>
          <%= f.text_area :category, class: "form-control book_category" %>
        </div>

      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewbookclose">Close</button>
        <%= submit_tag "Create", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<% end %>

<!-- MODAL END -->



</div>
